/*** Reset Defaults ***/

/* Global */
html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

/* Forms */
input {
  border: none;
  outline: none;

  /* keeps width from extending beyond defined space */
  -webkit-box-sizing : border-box;‌​
  -moz-box-sizing : border-box;
  box-sizing : border-box;
}

button {
  border: none;
}

select {
  border: none;
  outline: none;
}

/* Typography */
h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}
/*** End Reset ***/


/*** Global Styling ***/
.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.left {
  float: left;
}

.right {
  float: right;
}

.clear {
  clear: both;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

select {
  font-size: 1em;
  margin: 8px 8px 8px 0;
}


/*** Login/Register View ***/

/* Container */
.login-register {
  background-image: url('http://cdn1.theodysseyonline.com/files/2015/12/02/635846954215107552738068072_tutor.jpg');
  background-size: cover;
  background-position: center;
  color: white;
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top:50px;
}

.logo {
  margin-bottom: 20px;
  font-family: 'Lobster Two', cursive;
}

/* Login/Register Window */
.login-register-window {
  max-width: 400px;
  height: auto;
  text-align: center;
  margin: 0 auto;
}

.login-register-window h2 {
  color: black;
  display: inline-block;
  padding: 10px;
}

/* Forms */
form .login-register {
  display: block;
}

input {
  width: 100%;
  font-size: 1em;
  margin-bottom: 15px;
  padding: 10px;
}

.login-register .logo{
  font-size: 3em;
  text-shadow: 3px 3px 3px rgba(0,0,0,.5);
}

.login-register input[type="submit"] {
  border-radius: 10px;
  background-color: #732362;
  color: white;
}

.login-register input[type="submit"]:hover {
  background-color: #D4A6D1;
}

/*** Search View ***/

/* Upper Header */
#search-header-upper {
  width: 100%;
  background-color: #732362;
  overflow: hidden;
}

#search-header-upper input {
  padding: 5px;
}

#search-header-upper .logo {
  margin: 15px 15px 15px 0;
  color: white;
  font-size: 2em;
}

#search-header-upper input[type="text"] {
  width:300px;
  margin: 20px 10px 20px 0;
  border: 2px solid #D4A6D1;
  border-radius: 10px;
}

#search-header-upper input[type="submit"] {
  width: 100px;
  margin: 20px 10px 20px 0;
  background: white;
}

#search-header-upper input[type="submit"]:hover {
  background-color: #D4A6D1;
}

/* Header Filters */
#search-header-filters {
  width: 100%;
  border-bottom: 1px solid #8A8A8A;

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,cfcfcf+100 */
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(top,  #ffffff 0%, #cfcfcf 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #ffffff 0%,#cfcfcf 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #ffffff 0%,#cfcfcf 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#cfcfcf',GradientType=0 ); /* IE6-9 */

}

#search-header-filters select {
  background-color: white;
  border: 1px solid #8A8A8A;
}

/* Search Results */
#search-results li {
  width: 700px;
  height: 400px;
  background-color: #cfcfcf;
  margin: 20px auto;
  padding: 20px;
}

#search-results li h2 {
  font-weight: 700;
}

#search-results li h4 {
  font-weight: 300;
}

#search-results li p {
  font-weight: 300;
  height: 220px;
  overflow: scroll;
}

#search-results button,
.search-results-header button {
  font-size: 1em;
  padding: 5px;
}

.search-results-header button,
#search-results button {
  background-color: #732362;
  padding: 5px 10px;
  color: white;
  border-radius: 10px;
  font-size: .8em;
}

#search-results button:hover,
.search-results-header button:hover {
  background-color: #D4A6D1;
  padding: 5px 10px;
  color: white;
}

.search-result-image {
  height: 100%;
  width: 40%;
  margin-right: 20px;
  border: 1px solid #8A8A8A;

  background-position: center center;
  background-size: cover;
}

.search-results-header {
  padding: 20px 0;
  border-bottom: 1px solid #cfcfcf;
  overflow: auto;
}

.search-results-header h1 {
  font-weight: 300;
}

.location {
  font-weight: 700;
}

#search-results .remove-favorite {
  background-color: #D41830;
}

#search-results .remove-favorite:hover {
  background-color: #D65C6B;
}
